# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

export DATABASE_URL="postgres://tokutomi@127.0.0.1:5432/gaibase_dev?sslmode=disable"
export TEST_DATABASE_URL="postgres://tokutomi@127.0.0.1:5432/gaibase_test?sslmode=disable"
